@model AspnetIdentitySample.Models.Consignee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consignee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsigneeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsigneeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsigneeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
