@model IEnumerable<AspnetIdentitySample.Models.Pet>

@{
    ViewBag.Title = "All Pets";
}

<h2>List of pets for all users</h2>
<p>
    Notice that we can see the User info (UserName) and profile info such as HomeTown for the user as well.
    This was possible because we associated the User object with a ToDo object and hence
    we can get this rich behavior.
</p>

<table class="table">
    <tr>
        <th>Pet</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MicrochipNumber)
        </th>
        <th>@Html.DisplayNameFor(model => model.User.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.User.HomeTown)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="2">
                @if (item.PetFiles.Any(f => f.FileType == AspnetIdentitySample.Models.FileType.Thumbnail))
                {
                    <img src="~/File?id=@item.PetFiles.FirstOrDefault(f => f.FileType == AspnetIdentitySample.Models.FileType.Thumbnail).PetFileId" alt="avatar" />
                }
                else if (item.Species.SpeciesName == ("Dog"))
                {
                    <img src="~/Content/images/dog_sil_100x100.png" alt="avatar" />
                }
                else if (item.Species.SpeciesName == ("Cat"))
                {
                    <img src="~/Content/images/cat_sil_100x100.png" alt="avatar" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MicrochipNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.HomeTown)
            </td>
        </tr>
    <tr>
        <td colspan="6" align="center">
            <a href="@Url.Action("Edit", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
            <a href="@Url.Action("Details", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Details</a>
            <a href="@Url.Action("Delete", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Delete</a>
            <a href="@Url.Action("Index", "RabiesVaccinations", new { id = item.Id })" class="btn btn-primary btn-sm">Rabies Vaccination</a>
            <a href="@Url.Action("Index", "Bloodtests", new { id = item.Id })" class="btn btn-primary btn-sm">Bloodtest</a>
            <a href="@Url.Action("Upload", "Pets", new { id = item.Id })" c class="btn btn-primary btn-sm">Upload Documents</a>
            <a href="@Url.Action("Index", "PetCheck", new { id = item.Id })" class="btn btn-primary btn-sm">Check</a>
            <a href="@Url.Action("Index", "CertGenerator", new { id = item.Id })" c class="btn btn-primary btn-sm">Certification</a>
        </td>
    </tr>
    }

</table>
