@model PagedList.IPagedList<AspnetIdentitySample.Models.Pet>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Pet Index";
}

<h2>Pet Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Pets", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MicrochipNumber)
        </th>
        <th></th>
    </tr>*@

    <tr>
        <th>
            Pet
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Species
        </th>
        <th>
            Gender
        </th>
        <th>
            Breed
        </th>
        <th>
            @Html.ActionLink("Date of Birth", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Microchip Number
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*<img src="~/File?id=@Model.PetFiles.First(f => f.FileType == AspnetIdentitySample.Models.FileType.Avatar).PetFileId" alt="avatar" width="48" height="48"/>*@
            @if (item.PetFiles.Any(f => f.FileType == AspnetIdentitySample.Models.FileType.Thumbnail))
            {
                <img src="~/File?id=@item.PetFiles.FirstOrDefault(f => f.FileType == AspnetIdentitySample.Models.FileType.Thumbnail).PetFileId" alt="avatar" />
            }            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.SpeciesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MicrochipNumber)
        </td>
        
    </tr>
    <tr>
        <td colspan="8">
            <a href="@Url.Action("Edit", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
            <a href="@Url.Action("Details", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Details</a>
            <a href="@Url.Action("Delete", "Pets", new { id = item.Id })" class="btn btn-primary btn-sm">Delete</a>
            <a href="@Url.Action("Index", "RabiesVaccinations", new { id = item.Id })" class="btn btn-primary btn-sm">Rabies</a>
            <a href="@Url.Action("Index", "Bloodtests", new { id = item.Id })" class="btn btn-primary btn-sm">Bloodtest</a>
            <a href="@Url.Action("Upload", "Pets", new { id = item.Id })" c class="btn btn-primary btn-sm">Upload</a>
            <a href="@Url.Action("Index", "PetCheck", new { id = item.Id })" class="btn btn-primary btn-sm">Check</a>
            <a href="@Url.Action("Index", "CertGenerator", new { id = item.Id })" c class="btn btn-primary btn-sm">Cert</a>
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
