@model AspnetIdentitySample.Models.Certificate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Certificate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISOCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISOCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignor.ConsignorName)<br />
            @Html.DisplayFor(model => model.Consignor.Address1)<br />
            @Html.DisplayFor(model => model.Consignor.Address2)<br />
            @Html.DisplayFor(model => model.Consignor.Address3)<br />
            @Html.DisplayFor(model => model.Consignor.Address4)<br />
            @Html.DisplayFor(model => model.Consignor.Postcode)<br />
            @Html.DisplayFor(model => model.Consignor.Telephone)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignee.ConsigneeName)<br />
            @Html.DisplayFor(model => model.Consignee.Address1)<br />
            @Html.DisplayFor(model => model.Consignee.Address2)<br />
            @Html.DisplayFor(model => model.Consignee.Address3)<br />
            @Html.DisplayFor(model => model.Consignee.Address4)<br />
            @Html.DisplayFor(model => model.Consignee.Postcode)<br />
            @Html.DisplayFor(model => model.Consignee.Telephone)<br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommodityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommodityDescription)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Microchip Number
            </th>
            <th>
                Breed
            </th>
            <th>
                Date of Birth
            </th>
        </tr>

        @foreach (var item in Model.Pets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MicrochipNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
            </tr>
            foreach (Irregularity irreg in item.Irregularities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => irreg.IrregularityCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => irreg.IrregularityText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => irreg.DateRaised)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => irreg.DateResolved)
                    </td>
                </tr>
            }

        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CertificateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
