@model IEnumerable<AspnetIdentitySample.Models.Certificate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.pets > 0 && ViewBag.consignors > 0 && ViewBag.consignees > 0)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <p>
        You must create at least one pet, consignor and consignee in order to create a certificate. You have created @ViewBag.pets pets, @ViewBag.consignors consignors and @ViewBag.consignees consignees.
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISOCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommodityDescription)
        </th>
        <th>
            Paid
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryOfOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISOCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommodityDescription)
            </td>
            <td>
                @if (item.Paid)
                {
                    <text>Yes</text>
                }
                else
                {
                    <text>&nbsp;</text>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CertificateId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CertificateId }) |
                @if(!item.Paid)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.CertificateId }) <text>|</text>
                    @Html.ActionLink("Pay", "Charge", new { id = item.CertificateId })
                }
                else
                {
                    @Html.ActionLink("Download Cert", "Download", new { id = item.CertificateId })
                }                
            </td>
        </tr>
    }

</table>
