@model IEnumerable<AspnetIdentitySample.Models.Consignor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsignorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsignorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsignorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsignorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConsignorId })
        </td>
    </tr>
}

</table>
