@model AspnetIdentitySample.Models.RabiesVaccination

@{
    ViewBag.Title = "Create Rabies Vaccination";
}

<h2>Create Rabies Vaccination</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RabiesVaccination</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PetID, "Create Rabies Vaccination for pet named ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PetID", String.Empty)
                @Html.ValidationMessageFor(model => model.PetID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfRabiesVaccination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DateOfRabiesVaccination)*@
                @Html.JQueryUI().DatepickerFor(model => model.DateOfRabiesVaccination)
                @Html.ValidationMessageFor(model => model.DateOfRabiesVaccination)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfValidityFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DateOfValidityFrom)*@
                @Html.JQueryUI().DatepickerFor(model => model.DateOfValidityFrom)
                @Html.ValidationMessageFor(model => model.DateOfValidityFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfValidityTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DateOfValidityTo)*@
                @Html.JQueryUI().DatepickerFor(model => model.DateOfValidityTo)
                @Html.ValidationMessageFor(model => model.DateOfValidityTo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewContext.RouteData.Values["id"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
