@model IEnumerable<AspnetIdentitySample.Models.ToDo>

@{
    ViewBag.Title = "Pet Index";
}

<h2>Pet Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            <a href="@Url.Action("Edit", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">Edit</a> 
            <a href="@Url.Action("Details", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">Details</a>
            <a href="@Url.Action("Delete", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">Delete</a>
            <a href="@Url.Action("Rabies", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">Rabies Vax</a>
            <a href="@Url.Action("Bloodtest", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">Bloodtest</a>
            <a href="@Url.Action("Upload", "ToDo", new { id = item.Id })" c class="btn btn-primary btn-large">Upload</a>
            <a href="@Url.Action("PetCheck", "ToDo", new { id = item.Id })" class="btn btn-primary btn-large">PetCheck</a>
            <a href="@Url.Action("Cert", "ToDo", new { id = item.Id })" c class="btn btn-primary btn-large">Cert</a>
        </td>
    </tr>
}

</table>
