@model AspnetIdentitySample.Models.Certificate
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Generate an Annex IV Certificate";
}

<h2>Create Certificate</h2>

@using (Html.BeginForm("Download", "CertGenerator", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CertId)
    @Html.HiddenFor(model => model.CertId)


    <table class="table table-striped table-hover">
        <tr>
            <th>Consignor</th>
            <th>Consignee</th>
        </tr>
        <tr>
            <td>
                @Model.Consignor.Name<br />
                @Model.Consignor.Address1<br />
                @Model.Consignor.Address2<br />
                @Model.Consignor.Address3<br />
                @Model.Consignor.Address4<br />
                @Model.Consignor.Postcode<br />
                @Model.Consignor.Telephone<br />
            </td>
            <td>
                @Model.Consignee.Name<br />
                @Model.Consignee.Address1<br />
                @Model.Consignee.Address2<br />
                @Model.Consignee.Address3<br />
                @Model.Consignee.Address4<br />
                @Model.Consignee.PostCode<br />
                @Model.Consignee.Telephone<br />
            </td>
        </tr>
    </table>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Species
            </th>
            <th>
                Gender
            </th>
            <th>
                Breed
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Microchip Number
            </th>
        </tr>

        @foreach (var item in Model.Pets)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species.SpeciesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.GenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MicrochipNumber)
                </td>
            </tr>
            if (item.RabiesVaccinations.Any())
            {
                <tr>
                    <th>
                        Rabies Vaccination
                    </th>
                    <th>
                        Date Given
                    </th>
                    <th>
                        Date Valid From
                    </th>
                    <th>
                        Date Valid To
                    </th>
                    <th>
                        Manufacturer
                    </th>
                    <th>
                        Batch Number
                    </th>
                </tr>
                foreach (var vax in item.RabiesVaccinations)
                {
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            @Html.DisplayFor(modelVax => vax.DateOfRabiesVaccination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelVax => vax.DateOfValidityFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelVax => vax.DateOfValidityFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelVax => vax.DateOfValidityTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelVax => vax.DateOfValidityTo)
                        </td>
                    </tr>
                }
            }

            if (item.FAVNBloodTests.Any())
            {
                <tr>
                    <th>
                        Bloodtest
                    </th>
                    <th>
                        Date Given
                    </th>
                    <th>
                        Result
                    </th>
                    <th colspan="3">
                        &nbsp;
                    </th>
                </tr>
                foreach (var test in item.FAVNBloodTests)
                {
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            @Html.DisplayFor(modelTest => test.DateOfBloodtest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelTest => test.Result)
                        </td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                }
            }
        }
        <tr>
            <td colspan="6">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Certificate" class="btn btn-default" />
                    </div>
                </div>
            </td>
        </tr>
    </table>




}